<!DOCTYPE html>
<html>
<head>
  <title>Ratable</title>
  <%= stylesheet_link_tag    "ratable/application", media: "all" %>
  <%= javascript_include_tag "ratable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
